*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #ececec;
  font-family: Arial, sans-serif;
}

.container{
  width: 450px;
  margin: 70px auto;
  background: white;
  padding: 30px 20px;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

h1{
  text-align: center;
  margin-bottom: 30px;
  font-size: 45px;
}

.input-area{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#todoInput{
  flex: 1;
  padding: 12px;
  font-size: 18px;
  border: 1px solid gray;
}

#addBtn{
  width: 60px;
  border: none;
  background: #4caf50;
  color: white;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
}

#todoList{
  list-style: none;
}

#todoList li{
  background: #f1f1f1;
  margin-bottom: 12px;
  padding: 12px;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.completed{
  background: #dff5dd !important;
  text-decoration: line-through;
  color: gray;
}

button{
  border: none;
  padding: 7px 10px;
  color: white;
  border-radius: 1px;
  cursor: pointer;
}

button:nth-child(1){
  background: #2196f3;
}

button:nth-child(2){
  background: orange;
}

button:nth-child(3){
  background: #f44336;
} 
